@model IEnumerable<BancoDeTempo.Core.Models.Servicos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrisao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duracao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Linguagem_partilha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Experiencia_assunto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disponibilidade_partilha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Condicao_acesso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrisao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imagem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duracao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Linguagem_partilha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Experiencia_assunto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disponibilidade_partilha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Condicao_acesso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
